.child{
    width: 100px;
    height: 100px;
    color: white;
    background-color: orange;
    margin: 5px;
    padding: 10px;
    font-size: 3em;
}

#conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}